* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

input,
button,
select {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: var(--fg);
    background-color: var(--surface);
    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    outline: none;
}

input.ghost {
    background-color: transparent;
    padding: 8px;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    flex: 1;
    min-width: 0;
}

input.ghost:hover {
    color: var(--fg-hover);
}

/* Button */
button {
    cursor: pointer;
}

button.ghost {
    background: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.9em;
}

button.sm {
    padding: 4px 8px;
}

button:hover {
    border-color: var(--border);
}

button:active {
    border-color: var(--border);
}

/* Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    height: 42px;
    padding: 0.6em 2.2em 0.6em 1.2em;

    background-image: var(--select-icon);
    background-repeat: no-repeat;
    background-position: right 0.9rem center;
    background-size: 1rem 1rem;
}

select:hover {
    border-color: var(--border);
}

select:focus {
    /*outline: none;*/
    /*box-shadow: 0 0 0 3px rgba(57, 108, 216, 0.35);*/
    border-color: var(--border);
}
